
@{
    ViewBag.MainTitle = "Product Management";
    ViewBag.SubTitle = "Show All Products";
    Layout = "_DashboardLTE";
}

 <a asp-action="Add" class="btn btn-primary mt-4 mb-4">Add</a> 

<table id="my-tbl" class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>Name</th>
            <th style="width:300px;text-style:balance">Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>

</table>


@* this file is responsible for loading the table *@
@section Scripts {
    <script src="~/js/IndexDT/productDT.js"></script>
}
